* {
  font-family: segoe, sans-serif;
}

#wrapper {
  width:500px;
  margin:0 auto;
  margin-top:40px;
}

#fileDropBox {
  margin-left:100px;
  width: 20em;
  line-height: 10em;
  border: 1px dashed gray;
  text-align: center;
  color: gray;
  border-radius: 7px;
}

#fileDropBoxMessage {
  width:500px;
  margin:0 auto;
  margin-top:40px;
  text-align: center;
}

.error_message {
  color: red;
}
